---
// src/components/OrderButton.astro

const { className } = Astro.props;
const href = "/"; // Default href
const text = "Order Now"; // Default text
---

<a
  href= {href}
  class={`bg-primary-500 hover:bg-primary-600 text-white font-normal py-3 px-7 rounded duration-100 ${className}`}
>
  {text}
</a>