---
// src/components/Footer.astro
import { Image } from 'astro:assets';
import logoImg from '../assets/logo.png';
---

<footer class="bg-gray-900 text-white py-6"> {/* Reduced padding */}
  <div class="container mx-auto px-4">
    <div class="flex items-center"> {/* Simplified to a single flex container */}
      <a href="/">
        <Image
          src={logoImg}
          alt="Company Logo"
          class="rounded-lg"
          width={48}
          height={48}
        />
        </a>
        <p class="font-serif font-bold pt-2 text-xl pl-2">Your Company</p>
    </div>
      <p class="text-sm pt-2">&copy; 2024 Your Company Inc. All rights reserved.</p>
  </div>
</footer>