---
// src/components/OrderButton.astro
const { href } = Astro.props;
---

<a
  href= {href}
  class:list={[
    'bg-primary-500',
    'hover:bg-primary-600',
    'text-white',
    'font-normal',
    'py-3',
    'px-7',
    'rounded',
    'duration-100',
  ]}
><slot/></a>